body {
    margin: 0;
}
#game-screen{
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}



h1 {font-family: 'Permanent Marker', cursive;
    color:white
      
}

h2, h3 {
    font-family: 'Permanent Marker', cursive;
    text-align:center;
    color:Blue
        
}

.title {
    font-size:62px;
    margin-top: 0;
}

h1 {
    margin: 0;
}

#restartButton {
    border: 2px solid white;
    border-radius:15px;
}

#restartButton:hover {
    background-color:#ccccff
}

#scoreboard {
    margin: 0px;
}
